@if (currentControl && currentControl.invalid) {
  @if (currentControl.hasError('min')) {
    <div>
      {{ formName() }} must be at least {{ currentControl.errors!['min'].min }}.
    </div>
  }
  @if (currentControl.hasError('max')) {
    <div>
      {{ formName() }} must be at most {{ currentControl.errors!['max'].max }}.
    </div>
  }
  @if (currentControl.hasError('minlength')) {
    <div>
      {{ formName() }} must be at least
      {{ currentControl.errors!['minlength'].requiredLength }} characters.'
    </div>
  }
  @if (currentControl.hasError('maxlength')) {
    <div>
      {{ formName() }} must be maximal
      {{ currentControl.errors!['maxlength'].requiredLength }}
      characters long.
    </div>
  }
  @if (currentControl.hasError('required')) {
    <div>{{ formName() }} is required.</div>
  }
  @if (currentControl.hasError('email')) {
    <div>Please enter a valid email address.</div>
  }
  @if (currentControl.hasError('pattern')) {
    <div>{{ formName() }} has an invalid format.</div>
  }
  @if (currentControl.hasError('containsUppercase')) {
    <div>{{ formName() }} must contain uppercase characters.</div>
  }
  @if (currentControl.hasError('containsLowercase')) {
    <div>{{ formName() }} must contain lowercase characters.</div>
  }
  @if (currentControl.hasError('containsSpecialCharacters')) {
    <div>{{ formName() }} must contain special characters.</div>
  }
  @if (currentControl.hasError('containsNumbers')) {
    <div>{{ formName() }} must contain numbers.</div>
  }
  @if (currentControl.hasError('isEqualWith')) {
    <div>{{ formName() }} does not match.</div>
  }
  @if (currentControl.hasError('invalidUrl')) {
    <div>Please enter a valid URL.</div>
  }
  @if (currentControl.hasError('usernameExists')) {
    <div>Username is already taken.</div>
  }
}
