@use 'bootstrap/scss/bootstrap' as bs with (
  $enable-shadows: true,
  $enable-cssgrid: true
);

@use 'bootstrap-icons/font/bootstrap-icons.scss';

input {
  width: 100%;
}

label:has(+ :required)::after,
label:has(+ div > :required)::after {
  content: ' *';
}

input.is-pending {
  position: relative;

  background-color: #ffffff;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="none" stroke-opacity="1" stroke="%23FF156D" stroke-width=".5" cx="100" cy="100" r="0"><animate attributeName="r" calcMode="spline" dur="2" values="1;80" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate><animate attributeName="stroke-width" calcMode="spline" dur="2" values="0;25" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate><animate attributeName="stroke-opacity" calcMode="spline" dur="2" values="1;0" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate></circle></svg>');
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}

.btn-info-toggle {
  --bs-btn-padding-x: 0.25rem;
  position: absolute;
  font-size: 2rem;
  left: -3rem;
  bottom: 0;
  border-radius: 50%;
  line-height: 1;
}

.form-group {
  position: relative;
}
